* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sign-up-main {
    width: 300px;
    margin: 100px auto 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.sign-up-main .logo {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.sign-up-main .sign-up-message {
    font-size: 26px;
    text-align: left;
    margin-top: 24px;
}

.sign-up-main .sign-up-form {
    margin-top: 18px;
}

.sign-up-form input {
    width: 100%;
    border: 1px solid #dee2e6;
    padding: 18px 12px;
    font-size: 16px;
    outline: none;
}

.sign-up-form input::placeholder {
    color: #212529;
}

.sign-up-form #email {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: none;
}

.sign-up-form #username {
    border-bottom: none;
}

.sign-up-form #password {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sign-up-form .switch-form-text {
    font-size: 14px;
    margin: 16px 0;
    text-align: left;
    color: #212529;
}

.sign-up-form .signin-link {
    color: #0d6efd;
    text-decoration: underline;
}

.sign-up-form .btn {
    width: 100%;
    background-color: #0d6efd;
    color: #fff;
    padding: 11px;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid #0d6efd;
    transition: transform 0.5s ease-out;
}

.sign-up-form .btn:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.sign-up-main .sign-up-footer {
    margin-top: 28px;
    text-align: center;
    color: rgba(33, 37, 41, 0.75);
}

/* Msg & Toast notifications */
#msg {
    position: fixed;
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateX(-100%);
    z-index: 999;
}

#msg.show {
    opacity: 1;
    transform: translateX(0);
    top: 22px;
    left: 26px;
}

#msg #sign-up-validation {
    font-family: 'Inter', sans-serif;
    background-color: #ffe5e8;
    border-radius: 10px;
    padding: 16px;
}

.sign-up-validation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.sign-up-validation-header .fa-circle-minus {
    color: #e8132a;
    font-size: 16px;
}

.sign-up-validation-header p {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
}

.sign-up-validation-header .close-btn {
    padding: 2px;
    color: #445275;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sign-up-validation-content {
    font-size: 14px;
    line-height: 1.5;
    padding: 0 24px;
    margin-top: 8px;
}

#msg #sign-up-toast {
    background-color: #e5fff0;
    padding: 16px 16px 18px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#sign-up-toast .fa-circle-check {
    color: #02ee6a;
    font-size: 20px;
    margin-right: 8px;
}

#sign-up-toast .toast-title {
    font-size: 14px;
}

#msg #sign-up-error {
    background-color: #ffe5e8;
    padding: 16px 16px 18px;
    margin-top: 20px;
    border-radius: 10px;
}

#sign-up-error .fa-circle-exclamation {
    color: #e8132a;
    font-size: 20px;
    margin-right: 6px;
}

#sign-up-error .error-title {
    font-size: 14px;
}

#sign-up-error > div {
    display: flex;
    align-items: center;
    padding: 3px 0;
}

.hidden {
    display: none !important;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper .fa-eye,
.password-wrapper .fa-eye-slash {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    color: #0d6efd;
    cursor: pointer;
    font-size: 15px;
}

/* Tắt icon mặc định của Edge/Chrome */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none !important;
}

@media (max-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .sign-up-main {
        margin: 0;
    }
}