.sign-in-main {
  width: 300px;
  margin: 100px auto 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.sign-in-main .logo {
  display: block;
  margin: 0 auto;
  width: 150px;
}

.sign-in-main .sign-in-message {
  font-size: 26px;
  text-align: left;
  margin-top: 24px;
}

.sign-in-main #sign-in-form {
  margin-top: 18px;
}

#sign-in-form #email,
#sign-in-form #password {
  width: 100%;
  border: 1px solid #dee2e6;
  padding: 18px 12px;
  font-size: 16px;
  outline: none;
}

#sign-in-form input::placeholder {
  color: #212529;
}

#sign-in-form #email {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
}

#sign-in-form #password {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#sign-in-form .save-loggin {
  display: flex;
  align-items: center;
  margin: 16px 0;
  justify-content: flex-start;
}

#sign-in-form #save-loggin-checkbox,
#sign-in-form input[type="checkbox"] {
  width: auto;
  margin-right: 6px;
  cursor: pointer;
}

#sign-in-form .signup-link {
  color: #0d6efd;
}

#sign-in-form .btn {
  width: 100%;
  background-color: #0d6efd;
  color: #fff;
  padding: 11px;
  border-radius: 6px;
  font-size: 16px;
  border: 1px solid #0d6efd;
  transition: transform 0.5s ease-out;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.sign-in-main .sign-in-footer {
  margin-top: 28px;
  text-align: center;
  color: rgba(33, 37, 41, 0.75);
}

/* Msg & Toast notifications */
#msg {
  position: fixed;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateX(-100%);
  z-index: 999;
}

#msg.show {
  opacity: 1;
  transform: translateX(0);
  top: 22px;
  left: 26px;
}

#msg #login-validation {
  font-family: 'Inter', sans-serif;
  background-color: #ffe5e8;
  border-radius: 10px;
  padding: 16px;
}

#login-validation .login-validation-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.login-validation-header .fa-circle-minus {
  color: #e8132a;
  font-size: 16px;
}

.login-validation-header p {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

.login-validation-header .close-btn {
  padding: 2px;
  color: #445275;
  cursor: pointer;
}

#login-validation .login-validation-content {
  font-size: 14px;
  line-height: 1.5;
  padding: 0 24px;
  margin-top: 8px;
}

#msg #login-toast {
  background-color: #e5fff0;
  padding: 16px 16px 18px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#login-toast .fa-circle-check {
  color: #02ee6a;
  font-size: 20px;
  margin-right: 8px;
}

#login-toast .toast-title {
  font-size: 14px;
}

#msg #login-error {
  background-color: #ffe5e8;
  padding: 16px 16px 18px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

#login-error .fa-circle-exclamation {
  color: #e8132a;
  font-size: 20px;
  margin-right: 8px;
}

#login-error .error-title {
  font-size: 14px;
}

.hidden {
  display: none !important;
}

@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .sign-in-main {
    margin: 0;
  }
}